.th{
    display: table-row;
}
@media screen and (max-width: 800px) {
    
    .th::before {
        display: block;
        text-align: right;
        content: attr(aria-label);
        float: left;
        font-weight: bold;
    }



}
