.td__user{
    color:red;
  

}
@media screen and (max-width: 800px) {
  .td__user{
 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
    .td__user::before {
        display: block;
        text-align: right;
        content: attr(aria-label);
        float: left;
        font-weight: bold;
       
    }



}