@import url('./__tbody/my-table__tbody.css');
.my-table{
    width: 100%;
    margin-left:auto ;
   margin-right: auto;
}
@media screen and (max-width: 800px) {
    .my-table {
        display: none;
    }
    .my-table {
    display: flex;
    width: 100%;
    margin-bottom: 1rem;
    border-bottom: 2px solid #e8e9eb;}
}
