.tr{
    display: table-row;
     box-sizing:border-box;
     margin-left: auto;
     margin-right: auto;
}
@media screen and (max-width: 800px) {
    .tr {
        display: none;
    }
   .tr{
       width: 700px;
    display: block;
    margin-bottom: 1rem;
    border-bottom: 2px solid #e8e9eb;
   }
  
}
@media screen and (max-width: 692px) {
   
   .tr{
       width: 600px;
   
   }
  
}
@media screen and (max-width: 636px) {
   
    .tr{
        width: 550px;
    
    }
   
 }
 @media screen and (max-width: 584px) {
   
    .tr{
        width: 500px;
    
    }
   
 }
 @media screen and (max-width: 536px) {
   
    .tr{
        width: 400px;
    
    }
   
 }
 @media screen and (max-width: 452px) {
   
    .tr{
        width: 350px;
    
    }
   
 }
 @media screen and (max-width: 392px) {
   
    .tr{
        width: 310px;
    
    }
   
 }